.mdl-card__title-text {font-size: 26px;}
.mdl-card {min-height: 60px;}

/*agregado */
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px; 
  background-color:fuchsia;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
