<article class="template animated slideInRight">
  <h4>Pacientes</h4>
  <a href="" [routerLink]="['/patients', 'new']"><button class="ne-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Agregar</button></a>
  <ne-filter-text (changed)="filterChanged($event)"></ne-filter-text>
  <ul class="patients">
    <li *ngFor="let patient of filteredPatients | sortPatients;trackBy:trackByPatients">
      <ne-patient-button [patient]="patient"></ne-patient-button>
    </li>
  </ul>
</article>
